{% extends "account/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form method="post">
    {% csrf_token %}
    <h3>Forgot your password?</h3>
    <p class="form-subtext">Enter your email address and we’ll send you instructions to reset your password.</p>

    <label for="id_email">Email Address</label>
    {{ form.email }}

    <button type="submit">Send Reset Link</button>

    <div class="extra-links">
        <p>Remembered your password? <a href="{% url 'login' %}">Log in</a></p>
    </div>
</form>
{% endblock %}
